<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-buttons  Slot="start">
      <ion-back-button  defaultHref="/folder/Inbox"></ion-back-button>
    </ion-buttons>
    <ion-title>ABOUT</ion-title>
    <ion-icon size="large"  slot="end" name="help-circle"></ion-icon>
  </ion-toolbar>
</ion-header>





<ion-content>
  
<ion-card color="medium">
  <img src="../../../assets/UPS.png" />
  <ion-card-header>
    <ion-card-title>Kevin Cordero</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Estudiante de 9no ciclo en la Universidad Politecnica Salesiana en la carrera de ciencas de la Computacion.
  </ion-card-content>
  
  
  <ion-card-content>
    <ion-card-subtitle>Experiencia.</ion-card-subtitle>
    <ion-label>Angular</ion-label>
    <br>
    <ion-icon  color="primary"name="logo-angular"></ion-icon>
    <br>
    <ion-label>Python</ion-label>
    <br>
    <ion-icon color="primary"name="logo-python"></ion-icon>
    <br>
    <ion-label>Ionic</ion-label>
    <br>
    <ion-icon color="primary"name="logo-ionic"></ion-icon>
    

  </ion-card-content>
</ion-card>


</ion-content>
