<ion-header>
  <ion-toolbar>
    <ion-title>lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <ion-list-header>
      Contacts
     </ion-list-header>

     <ion-item *ngFor="let c of contactos; let i = index">
      <ion-avatar slot="start">
        <img src="../../../../assets/avatar.png">
      </ion-avatar>
      <ion-label>
        <h2>{{c.Nombre}}</h2>
        <h3>{{c.Telefono}}</h3>
        <p>{{c.Mail}}</p>
      </ion-label>
      <ion-button (click)="update()" color="success" expand="block" fill="outline">Edit Contact</ion-button>
    </ion-item>
 
  </ion-list>

  <ion-content>
    <!-- fab placed to the top end -->
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="add()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>


</ion-content>
