<ion-header>
  <ion-toolbar>
    <ion-buttons  Slot="start">
      <ion-back-button  defaultHref="/folder/Inbox"></ion-back-button>
    </ion-buttons>
    <ion-title>CONTACTS</ion-title>
    <ion-icon size="large"  slot="end" name="people-circle"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >
    <br>
     <ion-item  *ngFor="let c of contactos; let i = index">
      <ion-avatar slot="start">
        <img src="../../../../assets/avatar.png">
      </ion-avatar>
      <ion-label (click)="showMenu(c.Nombre,c.Telefono)">
        <h2>{{c.Nombre}}</h2>
        <h3>{{c.Telefono}}</h3>
        <p>{{c.Mail}}</p>
      </ion-label>
      <ion-button (click)="update(c.Nombre,c.Telefono,c.Mail)" color="success" expand="block" fill="outline">Edit Contact</ion-button>
    </ion-item>
 
  </ion-list>

  <ion-content>
    <!-- fab placed to the top end -->
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="add()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>


</ion-content>
